@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.vertical-timeline-element-content.is-hidden {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.vertical-timeline-element-icon.is-hidden {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}